# Core dependencies for YOLOv11 (Ultralytics)
# Ensure you have Python 3.10 or lower installed
ultralytics>=8.1.37  # or latest compatible version if you prefer
torch==2.7.0
torchvision==0.22.0

# Optional: ONNX if you want other export formats
onnx>=1.15.1
onnxruntime>=1.17.1


# Image processing
pandas==2.1.3
opencv-python==4.9.0.80
numpy==1.26.4
Pillow>=10.3.0
albumentations

# For TFLite conversion (requires TensorFlow installed)
tensorflow==2.15.0

# Jupyter and other utilities (optional for training notebooks)
matplotlib==3.8.3
ipykernel==6.29.4
scikit-learn